# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Example/Pods/Manifest.lock
Example/Pods/Local Podspecs/TerraWalletSDK.podspec.json
Example/Pods/Pods.xcodeproj/project.pbxproj
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-acknowledgements.plist
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-dummy.m
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-frameworks.sh
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-Info.plist
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example-umbrella.h
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example.debug.xcconfig
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example.modulemap
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Example/Pods-TerraWalletSDK_Example.release.xcconfig
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests-dummy.m
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests-Info.plist
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests.modulemap
Example/Pods/Target Support Files/Pods-TerraWalletSDK_Tests/Pods-TerraWalletSDK_Tests.release.xcconfig
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK-dummy.m
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK-Info.plist
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK-prefix.pch
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK-umbrella.h
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK.debug.xcconfig
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK.modulemap
Example/Pods/Target Support Files/TerraWalletSDK/TerraWalletSDK.release.xcconfig
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto-dummy.m
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto-Info.plist
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto-prefix.pch
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto.debug.xcconfig
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto.modulemap
Example/Pods/Target Support Files/TrezorCrypto/TrezorCrypto.release.xcconfig
Example/Pods/TrezorCrypto/README.md
Example/Pods/TrezorCrypto/TrezorCrypto.h
Example/Pods/TrezorCrypto/TrezorCrypto.modulemap
Example/Pods/TrezorCrypto/trezor-crypto/address.c
Example/Pods/TrezorCrypto/trezor-crypto/address.h
Example/Pods/TrezorCrypto/trezor-crypto/base32.c
Example/Pods/TrezorCrypto/trezor-crypto/base32.h
Example/Pods/TrezorCrypto/trezor-crypto/base58.c
Example/Pods/TrezorCrypto/trezor-crypto/base58.h
Example/Pods/TrezorCrypto/trezor-crypto/bignum.c
Example/Pods/TrezorCrypto/trezor-crypto/bignum.h
Example/Pods/TrezorCrypto/trezor-crypto/bip32.c
Example/Pods/TrezorCrypto/trezor-crypto/bip32.h
Example/Pods/TrezorCrypto/trezor-crypto/bip39.c
Example/Pods/TrezorCrypto/trezor-crypto/bip39.h
Example/Pods/TrezorCrypto/trezor-crypto/bip39_english.h
Example/Pods/TrezorCrypto/trezor-crypto/blake256.c
Example/Pods/TrezorCrypto/trezor-crypto/blake256.h
Example/Pods/TrezorCrypto/trezor-crypto/blake2_common.h
Example/Pods/TrezorCrypto/trezor-crypto/blake2b.c
Example/Pods/TrezorCrypto/trezor-crypto/blake2b.h
Example/Pods/TrezorCrypto/trezor-crypto/blake2s.c
Example/Pods/TrezorCrypto/trezor-crypto/blake2s.h
Example/Pods/TrezorCrypto/trezor-crypto/cash_addr.c
Example/Pods/TrezorCrypto/trezor-crypto/cash_addr.h
Example/Pods/TrezorCrypto/trezor-crypto/check_mem.h
Example/Pods/TrezorCrypto/trezor-crypto/curves.c
Example/Pods/TrezorCrypto/trezor-crypto/curves.h
Example/Pods/TrezorCrypto/trezor-crypto/ecdsa.c
Example/Pods/TrezorCrypto/trezor-crypto/ecdsa.h
Example/Pods/TrezorCrypto/trezor-crypto/groestl.c
Example/Pods/TrezorCrypto/trezor-crypto/groestl.h
Example/Pods/TrezorCrypto/trezor-crypto/groestl_internal.h
Example/Pods/TrezorCrypto/trezor-crypto/hasher.c
Example/Pods/TrezorCrypto/trezor-crypto/hasher.h
Example/Pods/TrezorCrypto/trezor-crypto/hmac.c
Example/Pods/TrezorCrypto/trezor-crypto/hmac.h
Example/Pods/TrezorCrypto/trezor-crypto/LICENSE
Example/Pods/TrezorCrypto/trezor-crypto/memzero.c
Example/Pods/TrezorCrypto/trezor-crypto/memzero.h
Example/Pods/TrezorCrypto/trezor-crypto/nem.c
Example/Pods/TrezorCrypto/trezor-crypto/nem.h
Example/Pods/TrezorCrypto/trezor-crypto/nem_serialize.h
Example/Pods/TrezorCrypto/trezor-crypto/nist256p1.c
Example/Pods/TrezorCrypto/trezor-crypto/nist256p1.h
Example/Pods/TrezorCrypto/trezor-crypto/nist256p1.table
Example/Pods/TrezorCrypto/trezor-crypto/options.h
Example/Pods/TrezorCrypto/trezor-crypto/pbkdf2.c
Example/Pods/TrezorCrypto/trezor-crypto/pbkdf2.h
Example/Pods/TrezorCrypto/trezor-crypto/rand.c
Example/Pods/TrezorCrypto/trezor-crypto/rand.h
Example/Pods/TrezorCrypto/trezor-crypto/rc4.c
Example/Pods/TrezorCrypto/trezor-crypto/rc4.h
Example/Pods/TrezorCrypto/trezor-crypto/rfc6979.h
Example/Pods/TrezorCrypto/trezor-crypto/ripemd160.c
Example/Pods/TrezorCrypto/trezor-crypto/ripemd160.h
Example/Pods/TrezorCrypto/trezor-crypto/script.c
Example/Pods/TrezorCrypto/trezor-crypto/script.h
Example/Pods/TrezorCrypto/trezor-crypto/secp256k1.c
Example/Pods/TrezorCrypto/trezor-crypto/secp256k1.h
Example/Pods/TrezorCrypto/trezor-crypto/secp256k1.table
Example/Pods/TrezorCrypto/trezor-crypto/segwit_addr.c
Example/Pods/TrezorCrypto/trezor-crypto/segwit_addr.h
Example/Pods/TrezorCrypto/trezor-crypto/sha2.c
Example/Pods/TrezorCrypto/trezor-crypto/sha2.h
Example/Pods/TrezorCrypto/trezor-crypto/sha3.c
Example/Pods/TrezorCrypto/trezor-crypto/sha3.h
Example/Pods/TrezorCrypto/trezor-crypto/aes/aes.h
Example/Pods/TrezorCrypto/trezor-crypto/aes/aes_modes.c
Example/Pods/TrezorCrypto/trezor-crypto/aes/aescrypt.c
Example/Pods/TrezorCrypto/trezor-crypto/aes/aeskey.c
Example/Pods/TrezorCrypto/trezor-crypto/aes/aesopt.h
Example/Pods/TrezorCrypto/trezor-crypto/aes/aestab.c
Example/Pods/TrezorCrypto/trezor-crypto/aes/aestab.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/chacha20poly1305.c
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/chacha20poly1305.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/chacha_merged.c
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/ecrypt-config.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/ecrypt-machine.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/ecrypt-portable.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/ecrypt-sync.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/ecrypt-types.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/poly1305-donna-32.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/poly1305-donna.c
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/poly1305-donna.h
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/rfc7539.c
Example/Pods/TrezorCrypto/trezor-crypto/chacha20poly1305/rfc7539.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-32bit.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-32bit.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-helpers.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-helpers.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-scalarmult-base.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/curve25519-donna-scalarmult-base.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-32bit-tables.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-32bit-tables.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-basepoint-table.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-basepoint-table.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-impl-base.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-impl-base.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna-portable.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-donna.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-hash-custom-keccak.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-hash-custom-sha3.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-hash-custom.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-keccak.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-keccak.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-sha3.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519-sha3.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/ed25519.h
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/modm-donna-32bit.c
Example/Pods/TrezorCrypto/trezor-crypto/ed25519-donna/modm-donna-32bit.h
Example/Pods/TrezorCrypto/util/SecRandom.m
